<h2>Obtenido de ID Token</h2>
<table>
  <tr>
      <td>Nombre</td>
      <td>{{jsonIDToken['name']}}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{jsonIDToken['email']}}</td>
  </tr>
  <tr>
    <td>Emisor</td>
    <td>{{jsonIDToken['iss']}}</td>
  </tr>

</table>
<br/>
<h2>Obtenido de Endpoint de UserInfo</h2>
<table>
  <tr>
      <td>Nombre</td>
      <td>{{jsonUserInfo['name']}}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{jsonUserInfo['email']}}</td>
  </tr>
  <tr>
    <td>Nombre de usuario</td>
    <td>{{jsonUserInfo['preferred_username']}}</td>
  </tr>

</table>

